$color-dark-blue: hsl(213, 19%, 18%);

.container{
    background: #252d37;
    height: 323px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    padding: 30px;
}